
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exported Figma Design</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="peserta-1">
<p class="text-2"><span class="text-black">Pantau dan urus semua peserta kursus</span></p>
<p class="text-3"><span class="text-black">Dashboard Admin Kursus</span></p>
<div class="group-7-4">
<p class="text-5"><span class="text-black">Peserta</span></p>
</div>
<img src="images/line-3-6.svg" class="line-3-6" alt="line-3" />
<div class="tambah-kursus-table-7"></div>
<p class="text-8"><span class="text-black">+ Tambah peserta</span></p>
<p class="text-9"><span class="text-white">Aktif</span></p>
<div class="rectangle-4-10"></div>
<div class="rectangle-5-11"></div>
<img src="images/vector-12.svg" class="vector-12" alt="vector" />
<div class="rectangle-6-13"></div>
<div class="rectangle-10-14"></div>
<div class="icon-senarai-peserta-15">
<img src="images/vector-16.svg" class="vector-16" alt="vector" />
<img src="images/vector-17.svg" class="vector-17" alt="vector" />
</div>
<p class="text-18"><span class="text-black">Jumlah peserta</span></p>
<p class="text-19"><span class="text-black">Peserta aktif</span></p>
<p class="text-20"><span class="text-black">Tamat kursus</span></p>
<p class="text-21"><span class="text-black">Kadar Kehadiran</span></p>
<p class="text-22"><span class="text-black">50</span></p>
<p class="text-23"><span class="text-black">50</span></p>
<p class="text-24"><span class="text-black">50</span></p>
<p class="text-25"><span class="text-black">99 %</span></p>
<div class="node-26">
<div class="group-27">
<img src="images/vector-28.svg" class="vector-28" alt="vector" />
<img src="images/vector-29.svg" class="vector-29" alt="vector" />
</div>
</div>
<div class="group-30">
<img src="images/vector-31.svg" class="vector-31" alt="vector" />
<img src="images/vector-32.svg" class="vector-32" alt="vector" />
<img src="images/vector-33.svg" class="vector-33" alt="vector" />
<img src="images/vector-34.svg" class="vector-34" alt="vector" />
<img src="images/vector-35.svg" class="vector-35" alt="vector" />
<img src="images/vector-36.svg" class="vector-36" alt="vector" />
<img src="images/vector-37.svg" class="vector-37" alt="vector" />
<img src="images/vector-38.svg" class="vector-38" alt="vector" />
<img src="images/vector-39.svg" class="vector-39" alt="vector" />
</div>
<div class="group-21-40">
<img src="images/vector-41.svg" class="vector-41" alt="vector" />
<img src="images/vector-42.svg" class="vector-42" alt="vector" />
</div>
<div class="rectangle-39-43"></div>
<img src="images/vector-44.svg" class="vector-44" alt="vector" />
<div class="table-1-45">
<div class="table-46">
<div class="row-47">
<div class="cell-48">
<div class="content-49">
<p class="text-50"><span class="text-black">Bil.</span></p>
</div>
</div>
<div class="cell-51">
<div class="content-52">
<p class="text-53"><span class="text-black">Kategori Kursus</span></p>
</div>
</div>
<div class="cell-54">
<div class="content-55">
<p class="text-56"><span class="text-black">Jumlah Kursus</span></p>
</div>
</div>
<div class="cell-57">
<div class="content-58">
<p class="text-59"><span class="text-black">Tindakan</span></p>
</div>
</div>
</div>
<div class="row-60">
<div class="cell-61">
<div class="content-62">
<p class="text-63"><span class="text-black">1</span></p>
</div>
</div>
<div class="cell-64">
<div class="content-65">
<p class="text-66"><span class="text-black">Teknologi</span></p>
</div>
</div>
<div class="cell-67">
<div class="content-68">
<p class="text-69"><span class="text-black">3</span></p>
</div>
</div>
<div class="cell-70">
<div class="content-71">
<p class="text-72"><span class="text-black">Lihat</span></p>
</div>
</div>
</div>
<div class="row-73">
<div class="cell-74">
<div class="content-75">
<p class="text-76"><span class="text-black">2</span></p>
</div>
</div>
<div class="cell-77">
<div class="content-78">
<p class="text-79"><span class="text-black">Kulinari</span></p>
</div>
</div>
<div class="cell-80">
<div class="content-81">
<p class="text-82"><span class="text-black">3</span></p>
</div>
</div>
<div class="cell-83">
<div class="content-84">
<p class="text-85"><span class="text-black">lihat</span></p>
</div>
</div>
</div>
<div class="row-86">
<div class="cell-87">
<div class="content-88">
<p class="text-89"><span class="text-black">3</span></p>
</div>
</div>
<div class="cell-90">
<div class="content-91">
<p class="text-92"><span class="text-black">Kecantikan</span></p>
</div>
</div>
<div class="cell-93">
<div class="content-94">
<p class="text-95"><span class="text-black">2</span></p>
</div>
</div>
<div class="cell-96">
<div class="content-97">
<p class="text-98"><span class="text-black">lihat</span></p>
</div>
</div>
</div>
</div>
</div>
<div class="rectangle-175-99"></div>
<div class="table-2-100">
<div class="table-101">
<div class="row-102">
<div class="cell-103">
<div class="content-104">
<p class="text-105"><span class="text-black">Bil.</span></p>
</div>
</div>
<div class="cell-106">
<div class="content-107">
<p class="text-108"><span class="text-black">Nama Kursus</span></p>
</div>
</div>
<div class="cell-109">
<div class="content-110">
<p class="text-111"><span class="text-black">Jumlah Peserta</span></p>
</div>
</div>
<div class="cell-112">
<div class="content-113">
<p class="text-114"><span class="text-black">Status Kursus</span></p>
</div>
</div>
</div>
<div class="row-115">
<div class="cell-116">
<div class="content-117">
<p class="text-118"><span class="text-black">1</span></p>
</div>
</div>
<div class="cell-119">
<div class="content-120">
<p class="text-121"><span class="text-black">Web Development</span></p>
</div>
</div>
<div class="cell-122">
<div class="content-123">
<p class="text-124"><span class="text-black">25</span></p>
</div>
</div>
<div class="cell-125">
<div class="content-126">
<p class="text-127"><span class="text-black">AKTIF</span></p>
</div>
</div>
</div>
<div class="row-128">
<div class="cell-129">
<div class="content-130">
<p class="text-131"><span class="text-black">2</span></p>
</div>
</div>
<div class="cell-132">
<div class="content-133">
<p class="text-134"><span class="text-black">Asas Komputer</span></p>
</div>
</div>
<div class="cell-135">
<div class="content-136">
<p class="text-137"><span class="text-black">250</span></p>
</div>
</div>
<div class="cell-138">
<div class="content-139">
<p class="text-140"><span class="text-black">AKTIF</span></p>
</div>
</div>
</div>
<div class="row-141">
<div class="cell-142">
<div class="content-143">
<p class="text-144"><span class="text-black">3</span></p>
</div>
</div>
<div class="cell-145">
<div class="content-146">
<p class="text-147"><span class="text-black">Programming Language</span></p>
</div>
</div>
<div class="cell-148">
<div class="content-149">
<p class="text-150"><span class="text-black">50</span></p>
</div>
</div>
<div class="cell-151">
<div class="content-152">
<p class="text-153"><span class="text-black">TUTUP</span></p>
</div>
</div>
</div>
</div>
</div>
<div class="searchbar-154"></div>
<p class="text-155"><span class="text-black">               # carian nama kursus</span></p>
<img src="images/vector-156.svg" class="vector-156" alt="vector" />
<div class="rectangle-176-157"></div>
<div class="rectangle-179-158"></div>
<p class="text-159"><span class="text-black">Senarai Kursus Mengikut Kategori : Teknologi</span></p>
<p class="text-160"><span class="text-black">Senarai Semua Kategori Kursus</span></p>
<div class="rectangle-178-161"></div>
<p class="text-162"><span class="text-black">   Status Kursus</span></p>
<img src="images/vector-163.svg" class="vector-163" alt="vector" />
<div class="kotak-header-164">
<div class="rectangle-41-165"></div>
<p class="text-166"><span class="text-black">Logout</span></p>
<p class="text-167"><span class="text-black">admin@gmail.com</span></p>
<p class="text-168"><span class="text-black">Admin</span></p>
<img src="images/ellipse-1-169.svg" class="ellipse-1-169" alt="ellipse-1" />
<img src="images/logo-syarikat-170.png" class="logo-syarikat-170" alt="logo-syarikat" />
</div>
<div class="kotak-menu-171">
<div class="dashboard-rectangle-172"></div>
<p class="text-173"><span class="text-white">Menu Utama</span></p>
<p class="text-174"><span class="text-white">Dashboard</span></p>
<p class="text-175"><span class="text-white">Kursus</span></p>
<p class="text-176"><span class="text-white">Permohonan</span></p>
<p class="text-177"><span class="text-white">Peserta</span></p>
<p class="text-178"><span class="text-white">Tetapan</span></p>
<img src="images/line-1-179.svg" class="line-1-179" alt="line-1" />
<div class="icon-peserta-180">
<img src="images/vector-181.svg" class="vector-181" alt="vector" />
<img src="images/vector-182.svg" class="vector-182" alt="vector" />
</div>
<img src="images/icon-kursus-183.svg" class="icon-kursus-183" alt="icon-kursus" />
<img src="images/icon-dashboard-184.svg" class="icon-dashboard-184" alt="icon-dashboard" />
<div class="icon-permohonan-185">
<img src="images/vector-186.svg" class="vector-186" alt="vector" />
<img src="images/vector-187.svg" class="vector-187" alt="vector" />
</div>
<div class="icon-tetapan-188">
<img src="images/vector-189.svg" class="vector-189" alt="vector" />
<img src="images/vector-190.svg" class="vector-190" alt="vector" />
</div>
<div class="kotak-kursus-hub-191">
<div class="rectangle-2-192"></div>
<p class="text-193"><span class="text-white">Admin Dashboard</span></p>
<p class="text-194"><span class="text-white">Kursus Hub </span></p>
<p class="text-195"><span class="text-black">🎓</span></p>
</div>
<div class="rectangle-180-196"></div>
<p class="text-197"><span class="text-white">Kategori kursus</span></p>
<p class="text-198"><span class="text-white">Senarai kursus</span></p>
<p class="text-199"><span class="text-white">Kursus baru</span></p>
</div>
<img src="images/vector-200.svg" class="vector-200" alt="vector" />
<img src="images/vector-201.svg" class="vector-201" alt="vector" />
</div>

</body>
</html>
